*.elc
/modules-org/*.el

*~
\#*
\.#*

/custom.el
/pawn-modules.el
/srecode-map.el
/workbench.xmi
/kkcrc
/tramp
/smex-items
/.session
/session.*
/projectile.cache
/history
/abbrev_defs
/ido.last
/recentf
/bookmarks
/projectile-bookmarks.eld
/ac-comphist.dat
/eshell/history
/eshell/lastdir
/auto-save-list/
/.python-environments/
/url/
/var/

/cclookup/
/elpa/
/semanticdb/
