*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
.uptimes.el
.historian
places
.smex-items
savefile/
snippets/
auto-insert/
/prelude-modules.el
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
.emacs.desktop
.emacs.desktop.lock
kkcrc
