*.elc
*~
\#*
\.#*
/custom.el
/graypawn-modules.el
/tramp
/.session
/session.*
/history
/ido.last
/recentf
/bookmarks
/projectile-bookmarks.eld
/ac-comphist.dat
/eshell/history
/eshell/lastdir
/auto-save-list/
/.python-environments/
/cclookup/
/elpa/